<html>
	<head>
		<title>Monster Gen</title>
		<script src="bower_components/angular/angular.min.js"></script>
 		<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
 		<script src="js/monsterapp.js"></script>
 		<script src="js/tables.js"></script>
 		<style>
 			.partyView {
 				border: 1px solid blue;
 			}
 			.encounterView {
 				border: 1px solid gray;
 			}
 			.monsterView {
 				border: 1px solid red;
 			}
 			.powerDiv {
 				border: 1px dashed green;
 			}
 			.oicon {
 				display: inline-block;
 				height: 24px;
 				width: 24px;
 				fill: purple;
 			}
 		</style>
	</head>
	<body ng-app="monsterApp">
		<div ng-controller="partyCtrl">
			<o-icon name="ban"></o-icon>
			Party Level: <input type="number" min="1" max="10" ng-model="party.level"/>
			Members: <input type="number" min="1" max="20" ng-model="party.count"/>
			
			<div ng-controller="encounterCtrl">
				
				<div ng-controller="monsterCtrl" class="monsterView">
				<form>
					<p>Name: <input type="text" ng-model="monster.title" size="40"/></p>
					<p>Description: <textarea ng-model="monster.description" rows="4" cols="40"></textarea></p>
					<p>Monster Level: <select ng-model="monster.params.level">
						<option>0</option><option>1</option><option>2</option><option>3</option>
						<option>4</option><option>5</option><option>6</option><option>7</option>
						<option>8</option><option>9</option><option>10</option><option>11</option>
						<option>12</option><option>13</option><option>14</option>
					</select></p>
					<p>Type: <select ng-model="monster.params.type">
						<option value="mook">Mook</option>
						<option value="standard">Single</option>
						<option value="large">Double</option>
						<option value="huge">Tripple</option>
					</select></p>
					<p>Best Defense: <select ng-model="monster.params.defense">
						<option value="pd">PD</option>
						<option value="md">MD</option>
					</select></p>
					<p>Initiative: <select ng-model="monster.params.init">
						<option value="-1">Super Slow</option><option value="0">Slow</option>
						<option value="1">Awkward</option><option value="2">Average</option>
						<option value="3">Nible</option><option value="4">Quick</option>
						<option value="5">Fast</option><option value="6">Real Fast</option>
						<option value="7">PC Fast</option><option value="8">Blindingly Fast</option>
						<option value="9">Like a rogue</option>
					</select></p>
					<p>Mod: <select ng-model="monster.params.mod">
						<option value="">None</option>
						<option value="scrapper">Scrapper</option>
						<option value="offensive">Offensive</option>
						<option value="oaf">Oaf</option>
						<option value="defensive">Defensive</option>
						<option	value="lunk">Lunk</option>
						<option	value="brittle">Brittle</option>
					</select></p>
					<p>Bumps: <select ng-model="monster.params.bump" title="Select to increase the monster level by 1">
						<option value="">None</option>
						<option value="attack">Sure Attacker</option>
						<option value="ac">Hard to Hit</option>
						<option value="hp">Big</option>
						<option value="dmg">Hard Hitter</option>
						<option value="balanced">Just Better</option>
					</select>
					</select></p>
					<p>Incl Fear? <input type="checkbox" value="yes" ng-model="monster.params.inclFear"/> </p>
					<button ng-click="addAttack(weaponSelected)">Add Attack</button>
					<select ng-model="weaponSelected"><option ng-repeat="(k, v) in examplePowers" value="{{k}}">{{v}}</option></select>
					<div ng-repeat="(idx, power) in monster.params.powers" ng-include="'power.html'"></div>
				</form>
			
		
				<hr/>
				<p><strong>{{monster.title}} &mdash; level {{monster.level}}</strong></p>
				<p ng-show="monster.description"><em>{{monster.description}}</em></p>
				<p>	<strong>Init</strong> {{monster.init|bonus}}
					<strong>HP</strong> {{monster.hp}} 
					<strong>AC</strong> {{monster.ac}}
					<strong>PD</strong> {{monster.pd}}
					<strong>MD</strong> {{monster.md}}
				</p>

				<p>Attack: {{monster.attack|bonus}}</p>
				<p>Damage: {{monster.damage}}</p>

				<p ng-show="monster.fear">Fear: {{monster.fear}}</p>
			
				<div ng-repeat="(idx, power) in monster.powers" ng-include="'power_view.html'"></div>
				
				<div ng-controller="contribution">
					<p><strong>Encounter Contribution:</strong> {{getContribution(monster, PartyLevel)}}</p>
				</div>
			</div>
			</div>
		</div>
	</body>
</html>
