<div ng-controller="powerCtrl" class="indent power">
	<!-- Display a monster power, named 'power' -->
	<div>
		[<span editable-checkbox="power.triggered" e-title="Triggered power?">{{ power.triggered && "Special trigger" || "..." }}</span>]
		<span editable-select="power.class" e-ng-options="c for c in ['melee', 'close', 'ranged']">{{ power.class[0]|uppercase }}:</span>
		<span editable-text="power.title">{{ power.title }}</span> 
		<span editable-number="power.count" e-min="1"/>({{power.count}} attacks)</span>
		<span editable-text="power.target">({{power.target || 'one engaged dude'}})</span>
		<span editable-number="power.toHitMod" e-max="20" e-min="-20">{{toHit()|bonus}}</span> 
		vs <span editable-select="power.vs" e-ng-options="v for v in ['ac', 'pd', 'md']">{{power.vs|uppercase}}</span>
	
		&mdash; <span editable-text="power.effect">{{interpolate(power.effect)}}</span>
		<o-icon name="x" class="iconCancel centerPlease" ng-click="removePower($index)"/>
	</div>
	<div class="indent">
		<div class="hang"><em>Miss: </em> <span editable-text="power.miss">{{interpolate(power.miss) || 'none'}}</span></div>
		<div class="hang"><em>Limited use:</em> <span editable-text="power.limited">{{power.limited || 'n/a'}}</span></div>
		<div ng-repeat="(eidx, extra) in power.extras">
			<div class="hang">
				<em editable-text="extra.condition">{{extra.condition || 'condition'}}:</em> 
				<span editable-text="extra.effect">{{interpolate(extra.effect) || 'effect'}} <o-icon name="x" class="iconCancel" ng-click="removeExtra($index)"/></span>
				
			</div>
		</div>
		<button ng-click="addExtra()">Add effect</button>
	</div>
</div>
